<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reykunyu &ndash; Online Na'vi dictionary</title>
		<link rel="stylesheet" type="text/css" href="/aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Reykunyu is a user-friendly online Na'vi dictionary, supporting translations to and from English, German, French, and other languages.">
		<link href="/tìlam/tìlam.css" rel="stylesheet">
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="icon" type="image/png" href="/ayrel/favicon.png">
		<link rel="search" type="application/opensearchdescription+xml" title="Reykunyu" href="/opensearch.xml">
	</head>
	<body>
		<div class="container">
			<h1>
				<a class="logo" href="/"></a>
				<% if (user) { %>
				<div id="user-label" class="ui left pointing basic label">
					Kaltxì ma <%= user.username %>!
				</div>
				<% } %>
				<div id="language-dropdown" class="ui icon right floated top right pointing dropdown basic button">
					<i class="globe icon"></i>
					<span class="text">English</span>
					&nbsp;<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="de">Deutsch</div>
						<div class="item" data-value="et">Eesti</div>
						<div class="item" data-value="en">English</div>
						<div class="item" data-value="fr">Français</div>
						<div class="item" data-value="hu">Magyar</div>
						<div class="item" data-value="nl">Nederlands</div>
						<div class="item" data-value="pl">Polski</div>
						<div class="item" data-value="ru">Русский</div>
						<div class="item" data-value="sv">Svenska</div>
						<div class="divider"></div>
						<div class="item" data-value="x-navi">Na’vi</div>
					</div>
				</div>
				<a href="/" class="ui icon right floated top right basic button">
					<i class="arrow left icon"></i> <%- _('menu-back-to-reykunyu') %>
				</a>
			</h1>

			<div class="error">
				<p class="error-text">404 Ke rolängun</p>
				<img class="error-icon" src="/ayrel/ke'u.svg">
				<p class="error-subText"><%- _('error-404-text') %></p>
			</div>
		</div>

		<script src="/aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="/aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="/ayvefya/ui-translations.js"></script>
	</body>
</html>

