<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Study &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/tìlam/tìlam.css" rel="stylesheet">
		<link href="/tìlam/study.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
		</div>

		<script src="/aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="/aysrungsiyu/semantic/dist/semantic.js"></script>
	</body>
</html>

