<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="tìlam/tìlam.css" rel="stylesheet">
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="icon" type="image/png" href="/ayrel/favicon.png">
	</head>
	<body<%- user ? ' class="editable"' : '' %>>
		<div class="container">
			<h1>
				<a class="logo" href="/"></a>
				<div id="language-dropdown" class="ui icon right floated top right dropdown basic button">
					<i class="globe icon"></i>
					<span class="text">English</span>
					&nbsp;<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="de">Deutsch</div>
						<div class="item" data-value="et">Eesti</div>
						<div class="item" data-value="en">English</div>
						<div class="item" data-value="fr">Français</div>
						<div class="item" data-value="hu">Magyar</div>
						<div class="item" data-value="nl">Nederlands</div>
						<div class="item" data-value="pl">Polski</div>
						<div class="item" data-value="ru">Русский</div>
						<div class="item" data-value="sv">Svenska</div>
						<div class="divider"></div>
						<div class="item" data-value="x-navi">Na’vi</div>
					</div>
				</div>
				<div class="ui buttons right floated">
					<a class="ui icon basic button" href="/all"><i class="book icon"></i> All words</a>
					<% if (user) { %>
					<div class="ui icon top right pointing dropdown basic button">
						<i class="wrench icon"></i> Administration
						&nbsp;<i class="dropdown icon"></i>
						<div class="menu">
							<a href="/add" class="item">Add new word</a>
							<a href="/history" class="item">Recent edits</a>
							<a href="/untranslated" class="item">Untranslated words</a>
							<a href="/etymology-editor" class="item">Etymology editor</a>
							<a href="/logout" class="item">Logout</a>
						</div>
					</div>
					<% } else { %>
					<a class="ui icon basic button" href="/login"><i class="user icon"></i> Login</a>
					<% } %>
					<div id="settings-button" class="ui icon basic button" href="/all"><i class="cogs icon"></i> Settings</div>
					<div id="credits-button" class="ui icon basic button" href="/all"><i class="question icon"></i> Help</div>
			</div>
				<% if (user) { %>
				<div id="user-label" class="ui left pointing basic label">
					Kaltxì ma <%= user.username %>!
				</div>
				<% } %>
			</h1>
			<form id="search-form">
				<div class="ui search fluid">
					<div class="ui right action left icon input fluid">
						<i class="search icon"></i>
						<input id="search-box" type="search" autofocus value="<%= query %>">
						<div id="mode-direction" class="ui compact selection dropdown">
							<span class="text">Na'vi &rarr; <span class="current-lang">English</span></span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="navi">Na'vi &rarr; <span class="current-lang">English</span></div>
								<div class="item mode-english-item" data-value="english"><span class="current-lang">English</span> &rarr; Na'vi</div>
								<div class="item" data-value="annotated">Annotated Dictionary</div>
								<div class="item" data-value="rhymes">Rhymes</div>
							</div>
						</div>
					</div>
					<div class="results"></div>
				</div>
			</form>

			<div id="sentence-bar" style="display: none;" class="ui pointing menu">
			</div>

			<div id="results">
			</div>
		</div>

		<!-- modals -->
		<div id="api-modal" class="ui modal basic">
			<div class="ui icon header">
				<i class="code icon"></i>
				Reykunyu API description
			</div>
			<div class="content">
				<p>Reykunyu offers an API that you can use to look up words programmatically. Feel free to build your own application on top of this!</p>
				<h2>/api/fwew <span class="muted">GET</span></h2>
				<p>The main API endpoint, that looks up one or more words. Automatically splits up input string (which can be an entire sentence) into words, and returns results for each word separately. This will perform parsing, so even if the words in the sentence can be conjugated, Reykunyu should be able to find them.</p>
				<h3>GET parameters</h3>
				<table>
					<tr>
						<td><b>tìpawm</b>
						<td>The query string.
				</table>
				<h3>Response</h3>
				<p>A JSON array with one element per word in the input. Each element is an object with two fields: <b>tìpawm</b>, containing the word from the input, and <b>sì'eyng</b>, containing the results for that word, as an array of result objects (because one input word can have more than one possible conjugation). These result objects, in turn, contain the following fields:</p>
				<table>
					<tr>
						<td><b>na'vi <span class="muted">(string)</span></b>
						<td>The root word.
					<tr>
						<td><b>type <span class="muted">(string)</span></b>
						<td>The type of the word. Possibilities:
							<table>
								<tr><td>n<td>noun
								<tr><td>n:si<td>si verb (i.e., noun that can be combined with <b>si</b> to make a si-verb)
								<tr><td>n:pr<td>proper noun
								<tr><td>pn<td>pronoun
								<tr><td>adj<td>adjective
								<tr><td>adv<td>adverb
								<tr><td>adp<td>non-leniting adposition
								<tr><td>adp:len<td>leniting adposition
								<tr><td>num<td>numeral
								<tr><td>intj<td>interjection
								<tr><td>conj<td>conjunction
								<tr><td>v:in<td>verb, intransitive
								<tr><td>v:tr<td>verb, transitive
								<tr><td>v:cp<td>verb, copula
								<tr><td>v:m<td>verb, modal
								<tr><td>v:?<td>verb, unknown type
								<tr><td>phr<td>phrase
							</table>
					<tr>
						<td><b>pronunciation <span class="muted">(array)</span></b>
						<td>Pronunciation and stress, as an array:
							<table>
								<tr>
									<td>[0] <span class="muted">(string)</span>
									<td>Pronunciation string, with syllables separated by dashes.
								<tr>
									<td>[1] <span class="muted">(integer)</span>
									<td>Index (1-based) of the stressed syllable.
							</table>
					<tr>
						<td><b>translations <span class="muted">(array)</span></b>
						<td>List of translations. Each translation is an object with fields for each language, such as <b>en</b>, <b>de</b>, <b>nl</b>, etc.
					<tr>
						<td><b>source <span class="muted">(string/array)</span></b>
						<td>The source information for this word. Either a string containing a description, or an array of two strings (description + URL to link to).
					<tr>
						<td><b>conjugated <span class="muted">(array)</span></b>
						<td>Explanation of how the root word was conjugated to end up with your input word.
							<table>
								<tr>
									<td>[0] <span class="muted">(string)</span>
									<td>The conjugated form.
								<tr>
									<td>[1] <span class="muted">(string)</span>
									<td>The root form.
								<tr>
									<td>[2] <span class="muted">(array/string)</span>
									<td>List of affixes that was applied to the root form; the format depends on the type.
							</table>
				</table>
			</div>
			<div class="actions">
				<div class="ui green ok inverted button">
					<i class="close icon"></i> Close
				</div>
			</div>
		</div>
		<div id="settings-modal" class="ui modal">
			<div class="header">Settings</div>
			<div class="scrolling content">
				<div class="ui small header">
					Pronunciation
				</div>
				<p>By default, Reykunyu shows the pronunciation of words in Na'vi spelling, with the stressed syllable underlined (nay-<u>weng</u>). If you prefer IPA (International Phonetic Alphabet) notation (<span class="ipa">naj.ˈwɛŋ</span>) instead, check the checkbox below.</p>
				<div class="ui checkbox">
					<input id="ipa-checkbox" type="checkbox" name="ipa">
					<label for="ipa">
						Use IPA for pronunciation
					</label>
				</div>
			</div>
			<div class="actions">
				<div class="ui basic deny button">
					<i class="close icon"></i> Cancel
				</div>
				<div class="ui primary approve button">
					<i class="checkmark icon"></i> Save
				</div>
			</div>
		</div>

		<div id="credits-modal" class="ui modal basic">
			<div class="ui icon header">
				<i class="star icon"></i>
				Credits
			</div>
			<div class="content">
				<p>Reykunyu was created by Wllìm, but would not have been possible without the help of the following community members and other people.</p>
				<p><i>Irayo nìtxan ma frapo!</i></p>
				<div class="ui small inverted header">
					Dictionary data
				</div>
				<p>The base dictionary data was taken from Eana Eltu by Mark Miller, Tirea Aean, and others, and then edited further by Eana Unil, Tekre, and Wllìm. The Annotated Dictionary definitions were taken from the Annotated Dictionary project by Plumps.</p>
				<div class="ui small inverted header">
					Artwork
				</div>
				<p>The drawings of Pandoran animals were made by Eana Unil. (Haven’t encountered one yet? Try searching for ‘toruk’!) Reykunyu’s logo was drawn by Eana Unil, and the calligraphy in the header was made by Nahura.</p>
				<div class="ui small inverted header">
					Libraries
				</div>
				<p>Reykunyu uses <a href="https://jquery.com">jQuery</a> and <a href="https://semantic-ui.com">Semantic UI</a> for the frontend, and <a href="https://nodejs.org">Node.js</a> for the backend.</p>
				<div class="ui small inverted header">
					Sources
				</div>
				<p>Reykunyu is licensed under the GPLv3, and the source code can be found on <a href="https://github.com/Willem3141/navi-reykunyu">GitHub</a>. The main dictionary data (which you can get in JSON form <a href="/api/list/all">here</a>) is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-SA-NC 3.0</a>. This excludes the Annotated Dictionary data and the animal drawings, which are copyrighted by their respective authors.</p>
				<div class="ui small inverted header">
					Interested in learning Na’vi?
				</div>
				<p>A dictionary like Reykunyu is great for reference, but not so great to actually study a language. For proper learning materials (grammar guides, lessons, word lists for beginners, etc.) please visit one of the websites dedicated to learning Na’vi: <a href="https://www.kelutral.org/">Kelutral</a> or <a href="https://learnnavi.org/">Learn Na’vi</a>.</p>
			</div>
			<div class="actions">
				<div class="ui green ok inverted button">
					<i class="close icon"></i> Done
				</div>
			</div>
		</div>

		<script src="aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="ayvefya/adjectives.js"></script>
		<script src="ayvefya/nouns.js"></script>
		<script src="ayvefya/ui-translations.js"></script>
		<script src="ayvefya/reykunyu.js"></script>
	</body>
</html>

