<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reykunyu &ndash; Online Na'vi dictionary</title>
		<link rel="stylesheet" type="text/css" href="aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Reykunyu is a user-friendly online Na'vi dictionary, supporting translations to and from English, German, French, and other languages.">
		<link href="tìlam/tìlam.css" rel="stylesheet">
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="icon" type="image/png" href="/ayrel/favicon.png">
	</head>
	<body<%- user ? ' class="editable"' : '' %>>
		<div class="container">
			<h1>
				<a class="logo" href="/"></a>
				<div id="language-dropdown" class="ui icon right floated top right dropdown basic button">
					<i class="globe icon"></i>
					<span class="text">English</span>
					&nbsp;<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="de">Deutsch</div>
						<div class="item" data-value="et">Eesti</div>
						<div class="item" data-value="en">English</div>
						<div class="item" data-value="fr">Français</div>
						<div class="item" data-value="hu">Magyar</div>
						<div class="item" data-value="nl">Nederlands</div>
						<div class="item" data-value="pl">Polski</div>
						<div class="item" data-value="ru">Русский</div>
						<div class="item" data-value="sv">Svenska</div>
						<div class="divider"></div>
						<div class="item" data-value="x-navi">Na’vi</div>
					</div>
				</div>
				<div id="main-menu" class="ui buttons right floated">
					<a class="ui icon basic button" href="/all"><i class="book icon"></i> All words</a>
					<% if (user) { %>
					<div class="ui icon top right pointing dropdown basic button">
						<i class="wrench icon"></i> Administration
						&nbsp;<i class="dropdown icon"></i>
						<div class="menu">
							<a href="/add" class="item">Add new word</a>
							<a href="/history" class="item">Recent edits</a>
							<a href="/untranslated" class="item">Untranslated words</a>
							<a href="/etymology-editor" class="item">Etymology editor</a>
							<a href="/sources-editor" class="item">Sources editor</a>
							<a href="/corpus-editor" class="item">Corpus editor</a>
							<a href="/logout" class="item">Logout</a>
						</div>
					</div>
					<% } else { %>
					<a class="ui icon basic button" href="/login"><i class="user icon"></i> Login</a>
					<% } %>
					<div id="settings-button" class="ui icon basic button" href="/all"><i class="cogs icon"></i> Settings</div>
					<a id="games-button" class="ui icon basic button" href="/uvan"><i class="game icon"></i> Games</a>
					<div id="credits-button" class="ui icon basic button" href="/all"><i class="question icon"></i> Help</div>
			</div>
				<% if (user) { %>
				<div id="user-label" class="ui left pointing basic label">
					Kaltxì ma <%= user.username %>!
				</div>
				<% } %>
			</h1>
			<form id="search-form">
				<div class="ui search fluid">
					<div class="ui right action left icon input fluid">
						<i class="search icon"></i>
						<input id="search-box" type="search" autofocus value="<%= query %>">
						<div id="mode-direction" class="ui compact selection dropdown">
							<span class="text">Na'vi &harr; <span class="current-lang">English</span></span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="reykunyu">Na'vi &harr; <span class="current-lang">English</span></div>
								<div class="item" data-value="analyzer">Sentence analysis</div>
								<div class="item" data-value="annotated">Annotated Dictionary</div>
								<div class="item" data-value="rhymes">Rhymes</div>
							</div>
						</div>
					</div>
					<div class="results"></div>
				</div>
			</form>

			<div id="tab-mode-bar" style="display: none;" class="ui top attached tabular menu">
			</div>

			<div id="results">
			</div>
		</div>

		<!-- modals -->
		<div id="infix-details-modal" class="ui modal">
			<div class="header">Infixes for <span id="infix-details-word"></span><span id="infix-details-infixes" style="display: none;"></span></div>
			<div class="content">
				<p>Click the buttons below to indicate which infixes you want to use, and Reykunyu will show you the result below. Not
					all combinations of infixes are possible. Buttons that would lead to impossible combinations will be automatically
					disabled.</p>
				<div class="ui form">
					<div class="ui small header">
						Pre-first position
					</div>
					<div class="field">
						<label>Transitivity</label>
						<div class="ui basic buttons">
							<button id="no-transitivity-button" class="ui compact button infix-button active">None</button>
							<button data-title='‹äp›' id="äp-button"
								data-content='Reflexive: expresses that the action is applied to the subject itself (‘... hunts himself’)'
								class="ui compact button infix-button">‹äp›</button>
							<button data-title='‹eyk›' id="eyk-button"
								data-content='Causative: expresses that the action was caused by the subject (‘... causes ... to hunt’)'
								class="ui compact button infix-button">‹eyk›</button>
							<button data-title='‹äp› + ‹eyk›' id="äpeyk-button"
								data-content='Combination of the reflexive and causative (‘... causes ... to hunt himself’)'
								class="ui compact button infix-button">‹äp› + ‹eyk›</button>
						</div>
					</div>
					<div class="ui small header">
						First position
					</div>
					<div class="two fields">
						<div class="field">
							<label>Mode</label>
							<div class="ui basic buttons">
								<button id="no-mode-button" class="ui compact button infix-button active">None</button>
								<button data-title='‹iv›' id="iv-button"
									data-content='Subjunctive: used in various grammatical structures (e.g. with modal verbs) and to express imagined or wished scenarios'
									class="ui compact button infix-button">‹iv›</button>
								<button data-title='‹us›' id="us-button"
									data-content="Active participle: creates an adjective expressing that the noun is the subject of the verb's action"
									class="ui compact button infix-button">‹us›</button>
								<button data-title='‹awn›' id="awn-button"
									data-content="Passive participle: creates an adjective expressing that the noun is the object of the verb's action"
									class="ui compact button infix-button">‹awn›</button>
							</div>
						</div>
						<div class="field">
							<label>Aspect</label>
							<div class="ui basic buttons">
								<button id="no-aspect-button" class="ui compact button infix-button active">None</button>
								<button data-title='‹ol›' id="ol-button"
									data-content='Perfective: presents the action as a completed snapshot'
									class="ui compact button infix-button">‹ol›</button>
								<button data-title='‹er›' id="er-button"
									data-content='Imperfective: presents the action as a background for other actions'
									class="ui compact button infix-button">‹er›</button>
							</div>
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>Tense</label>
							<div class="ui basic buttons">
								<button id="no-tense-button" class="ui compact button infix-button active">None</button>
								<button data-title='‹am›' id="am-button" data-content='General past: the action happened in the past'
									class="ui compact button infix-button">‹am›</button>
								<button data-title='‹ìm›' id="ìm-button"
									data-content='Near past: the action happened just a short while ago'
									class="ui compact button infix-button">‹ìm›</button>
								<button data-title='‹ìy›' id="ìy-button" data-content='Near future: the action will happen in a short while'
									class="ui compact button infix-button">‹ìy›</button>
								<button data-title='‹ay›' id="ay-button" data-content='General future: the action will happen in the future'
									class="ui compact button infix-button">‹ay›</button>
							</div>
						</div>
						<div class="field">
							<label>Intent</label>
							<div class="ui basic buttons">
								<button id="no-intent-button" class="ui compact button infix-button active">None</button>
								<button data-title='-s-' id="s-button"
									data-content='Intent: used with a future tense to express that the speaker has the intention to do the described action.'
									class="ui compact button infix-button">-s-</button>
							</div>
						</div>
					</div>
					<div class="ui small header">
						Second position
					</div>
					<div class="field">
						<label>Mood</label>
						<div class="ui basic buttons">
							<button id="no-mood-button" class="ui compact button infix-button active">None</button>
							<button data-title='‹ei›' id="ei-button" data-content='Positive mood: the speaker feels good about the action'
								class="ui compact button infix-button">‹ei›</button>
							<button data-title='‹äng›' id="äng-button" data-content='Negative mood: the speaker feels bad about the action'
								class="ui compact button infix-button">‹äng›</button>
							<button data-title='‹uy›' id="uy-button" data-content='Formal mood: used in formal and ceremonial settings'
								class="ui compact button infix-button">‹uy›</button>
							<button data-title='‹ats›' id="ats-button"
								data-content='Inferential mood: marks a suppositional statement from evidence'
								class="ui compact button infix-button">‹ats›</button>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="ui header">
					Result
				</div>
				<div class="ui segment">
					<div class="ui stackable two column grid">
						<div class="column">
							<div id="infix-details-input"></div>
							<div id="infix-details-input-translation"></div>
						</div>
						<div class="column">
							<div id="infix-details-result"></div>
							<div id="infix-details-result-translation"></div>
						</div>
					</div>
					<div class="ui vertical divider">
						&rarr;
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="ui basic deny button">
					<i class="close icon"></i> Close
				</div>
			</div>
		</div>

		<div id="settings-modal" class="ui modal">
			<div class="header">Settings</div>
			<div class="scrolling content">
				<div class="ui small header">
					Pronunciation
				</div>
				<p>By default, Reykunyu shows the pronunciation of words in Na'vi spelling, with the stressed syllable underlined (nay-<u>weng</u>). If you prefer IPA (International Phonetic Alphabet) notation (<span class="ipa">naj.ˈwɛŋ</span>) instead, check the checkbox below.</p>
				<div class="ui checkbox">
					<input id="ipa-checkbox" type="checkbox" name="ipa">
					<label for="ipa">
						Use IPA for pronunciation
					</label>
				</div>
				<div class="ui small header">
					Theme
				</div>
				<p>Reykunyu supports light and dark themes. It automatically follows your browser settings, so if you want to switch, look in your browser's settings panel (for example in Firefox: <i>Settings &gt; Language and Appearance &gt; Website appearance</i>).</p>
			</div>
			<div class="actions">
				<div class="ui basic deny button">
					<i class="close icon"></i> Cancel
				</div>
				<div class="ui primary approve button">
					<i class="checkmark icon"></i> Save
				</div>
			</div>
		</div>

		<div id="credits-modal" class="ui modal basic">
			<div class="ui icon header">
				<i class="star icon"></i>
				Credits
			</div>
			<div class="content">
				<p>Reykunyu was created by Wllìm, but would not have been possible without the help of the following community members and other people.</p>
				<p><i>Irayo nìtxan ma frapo!</i></p>
				<div class="ui small inverted header">
					Dictionary data
				</div>
				<p>The base dictionary data was taken from Eana Eltu by Mark Miller, Tirea Aean, and others, and then edited further by Eana Unil, Tekre, and Wllìm. The Annotated Dictionary definitions were taken from the Annotated Dictionary project by Plumps.</p>
				<div class="ui small inverted header">
					Audio
				</div>
				<p>The voice clips were provided by Plumps (who recorded them for <a href="https://dict-navi.com/">dict-na'vi</a>) and tsyili (who recorded them for <a href="https://learnnavi.org/navi-vocabulary/">Learn Na'vi</a>).</p>
				<div class="ui small inverted header">
					Artwork
				</div>
				<p>The drawings of Pandoran animals were made by Eana Unil. (Haven’t encountered one yet? Try searching for ‘toruk’!) Reykunyu’s logo was drawn by Eana Unil, and the calligraphy in the header was made by Nahura.</p>
				<div class="ui small inverted header">
					Libraries
				</div>
				<p>Reykunyu uses <a href="https://jquery.com">jQuery</a> and <a href="https://semantic-ui.com">Semantic UI</a> for the frontend, and <a href="https://nodejs.org">Node.js</a> for the backend.</p>
				<div class="ui small inverted header">
					Sources
				</div>
				<p>Reykunyu is licensed under the GPLv3, and the source code can be found on <a href="https://github.com/Willem3141/navi-reykunyu">GitHub</a>. The main dictionary data (which you can get in JSON form <a href="/api/list/all">here</a>) is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-SA-NC 3.0</a>. This excludes the Annotated Dictionary data, the audio files, and the animal drawings&mdash;these are copyrighted by their respective authors.</p>
				<div class="ui small inverted header">
					Interested in learning Na’vi?
				</div>
				<p>A dictionary like Reykunyu is great for reference, but not so great to actually study a language. For proper learning materials (grammar guides, lessons, word lists for beginners, etc.) please visit one of the websites dedicated to learning Na’vi: <a href="https://www.kelutral.org/">Kelutral</a> or <a href="https://learnnavi.org/">Learn Na’vi</a>.</p>
			</div>
			<div class="actions">
				<div class="ui green ok inverted button">
					<i class="close icon"></i> Done
				</div>
			</div>
		</div>

		<script src="aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="ayvefya/adjectives.js"></script>
		<script src="ayvefya/ui-translations.js"></script>
		<script src="ayvefya/reykunyu.js"></script>
	</body>
</html>

