@font-face {
	font-family: 'Recursive';
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	src: url('/fonts/Recursive_VF_1.078.woff2');
}
@font-face {
	font-family: 'Gentium Plus';
	src: url('/fonts/GentiumPlus-Regular.woff2');
}
