/ayrel/
/aysìkenong/
/data/
/fraporu/study/learn/*.js
/fraporu/study/learn/*.js.map
/fraporu/study/review/*.js
/fraporu/study/review/*.js.map
/fraporu/uvan/stress/*.js
/fraporu/uvan/stress/*.js.map
/node_modules/
/package-lock.json
