@font-face {
	font-family: 'Recursive';
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	src: url('/fonts/Recursive_VF_1.078.woff2');
}
@font-face {
	font-family: 'Gentium Plus';
	src: url('/fonts/GentiumPlus-Regular.woff2');
}
@font-face {
	font-family: 'Source Serif';
	font-weight: 300 1000;
	src: url('/fonts/SourceSerif4-VariableFont_opsz,wght.ttf');
}
@font-face {
	font-family: 'Source Serif';
	font-weight: 300 1000;
	font-style: italic;
	src: url('/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf');
}
@font-face {
	font-family: 'Calluna Sans';
	font-weight: 400;
	src: url('/fonts/CallunaSansRegular-webfont.woff2');
}
@font-face {
	font-family: 'Calluna Sans';
	font-weight: 700;
	src: url('/fonts/CallunaSansBold-webfont.woff2');
}
@font-face {
	font-family: 'Calluna Sans';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/CallunaSansItalic-webfont.woff2');
}
@font-face {
	font-family: 'Calluna Sans';
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/CallunaSansBoldItalic-webfont.woff2');
}

:root {
	--main-font: 'Recursive';
}
