/* on narrow screens, put the dropdown below the search field */
.ifNarrowMoveDropdownBelow() {
	@media (max-width: 600px) {
		.ui.input {
			flex-wrap: wrap;
			i.icon {
				height: 38px;
			}
			input {
				border-top-right-radius: 0.28571429rem !important;
				border-right-color: rgba(34, 36, 38, 0.15) !important;
				border-bottom-left-radius: 0px !important;
				border-bottom-color: transparent !important;
				&:focus {
					border-right-color: var(--focus-color) !important;
					border-bottom-color: var(--focus-color) !important;
				}
				@media (prefers-color-scheme: dark) {
					border-right-color: #555 !important;
				}
			}
			.ui.dropdown {
				width: 100%;
				border-top-right-radius: 0px !important;
				border-bottom-left-radius: 0.28571429rem !important;
			}
		}
	}
}

/* the main search field */
#search-form .ui.search {
	.ifNarrowMoveDropdownBelow();

	.ui.dropdown {
		width: 200px;
	}

	/* the autocomplete results box */
	& > .results {
		max-height: 500px;
		overflow-y: auto;

		.result {
			.title {
				font-family: @standardFontStack;
				display: inline-block;
				width: 30%;
			}

			.description {
				display: inline-block;
				width: 70%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: var(--muted-color);
			}

			&:hover {
				background-color: var(--hovered-background-color);
			}
		}
	}
}

#tab-mode-bar {
	margin-bottom: 40px;
	justify-content: center;

	.item {
		cursor: pointer;
		flex-grow: 0.05;
		justify-content: center;

		&.active {
			cursor: default;
		}

		.result-count-tag {
			display: inline-block;
			padding: 3px 6px;
			margin-left: 15px;
			background-color: var(--primary-color);
			color: var(--background-color);
			font-size: 12px;
			font-weight: 700;
			border-radius: 20px;
		}

		&.gray {
			color: var(--disabled-color);

			.result-count-tag {
				background-color: var(--disabled-color);
			}
		}

		@media (max-width: 460px) {
			flex-direction: column;
			padding: 10px;

			.result-count-tag {
				display: block;
				margin-left: 0;
				margin-top: 4px;
			}
		}

		@media (max-width: 400px) {
			font-weight: 475;
			font-size: 85%;

			&.active {
				font-weight: 800;
			}
		}
	}
}

#sentence-bar {
	flex-wrap: wrap;

	.item {
		align-items: normal;

		 .navi {
			font-weight: bold;
			text-align: center;
		}

		.definition {
			padding-top: 5px;
			text-align: center;
		}

		.label {
			font-size: 75%;
		}

		.more {
			padding-top: 5px;
			text-align: center;
			font-style: italic;
		}
	}
}

#results .result {
	margin-top: 50px;
	clear: right;

	.result-word {
		position: sticky;
		top: -1px;
		background-color: var(--background-color);
		padding: 10px 0;
		box-shadow: 0 0 4px 4px var(--background-color);
		z-index: 1;

		.id {
			display: inline-block;
			padding-right: 10px;
			font-size: 30px;
			color: var(--muted-color);
			@media (width > 1150px) {
				width: 150px;
				text-align: right;
				margin-left: -150px;
			}
		}

		.lemma {
			font-size: 30px;
			font-weight: 700;
		}

		.type-badge {
			margin-left: 16px;
			position: relative;
			top: -5px;
		}

		.stressed {
			text-decoration-thickness: 2px;
		}

		.pronunciation {
			margin-left: 26px;
			position: relative;
			top: -5px;

			.pronunciation-audio-buttons {
				margin-left: 10px;
				position: relative;
				top: -1px;
			}
		}

		.status-badge {
			margin-left: 26px;
			position: relative;
			top: -5px;

			&.loan,
			&.unconfirmed,
			&.unofficial {
				background-image: url('/images/tsahey.svg');
				background-repeat: no-repeat;
				background-size: 1em;
				background-position: 0 5px;
				font-weight: 700;
				padding-left: 22px;
			}
		}

		.word-toolbar {
			margin-left: 26px;
			position: relative;
			top: -6px;

			.ui.button.favorite-button.active {
				color: var(--warning-color) !important;
			}
		}
	}

	.definition-image {
		@media (width > 600px) {
			float: right;
			margin-left: 40px;
		}
		@media (max-width: 600px) {
			text-align: center;
		}

		img {
			width: 250px;
		}
		.credit {
			text-align: center;
			font-style: italic;
		}
	}

	.result-item {
		margin-left: 0;
		margin-top: 20px;

		&.conjugated-box {
			margin-top: 5px;
			margin-bottom: 20px;
			border-radius: 4px;
			border: 1px solid var(--border-color);

			.conjugated-box-item {
				position: relative;
				padding: 8px;
				margin-top: 8px;
				padding-left: 40px;
				border-top: 1px solid var(--border-color);

				&:first-child {
					margin-top: 0;
					border-top: none;
				}
				&::before {
					content: '»';
					position: absolute;
					margin-top: 8px;
					font-size: 18px;
					left: 18px;
					top: 0;
					color: var(--muted-color);
				}

				.conjugation-explanation,
				.lenition-explanation {
					font-size: 18px;
					display: flex;
					flex-wrap: wrap;
					align-items: baseline;

					.operator {
						margin-left: 10px;
						margin-right: 10px;
						color: var(--muted-color);
					}

					.word {
						font-weight: 700;
					}

					.correction {
						margin-right: 10px;
						color: var(--correction-color);
						font-weight: 700;
						text-decoration: line-through;
					}
				}

				.affixes {
					overflow-x: visible;
					padding-top: 8px;

					table {
						margin: 0;

						tr td:first-child {
							font-weight: 700;
						}
						.type-badge {
							margin-left: 16px;
						}
					}
				}
			}
		}

		&.definition {
			font-size: 25px;
			margin-top: 10px;

			ol {
				margin-top: 0;
				margin-bottom: 30px;

				li {
					margin-top: 10px;
					margin-bottom: 20px;
				}
			}
		}

		.header {
			font-weight: 700;
		}
		summary.header {
			display: list-item;

			.header-hide {
				font-weight: 400;

				&::before {
					content: ":";
					margin-right: 10px;
				}
			}
		}

		.body {
			margin-left: 20px;
			overflow-x: auto;
		}

		.status-note {
			background-color: var(--warning-background-color);
			padding: 10px 14px;
			border-radius: 3px;
			padding-left: calc(14px + 2em);
			text-indent: -2em;
		}

		.conjugation-note {
			background-image: url('/images/srungtsyìp.svg');
			background-repeat: no-repeat;
			background-size: 1em;
			background-position: 0 5px;
			padding-left: 22px;
		}
	}

	.result-item[open] summary.header .header-hide {
		display: none;
	}
}

.sentence-category {
	font-style: italic;
	margin-top: 10px;
	font-variation-settings: "slnt" -15;
}

.sentence {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;

	.translation {
		color: var(--muted-color);
	}

	.source {
		color: var(--muted-color);
		font-style: italic;
		font-variation-settings: "slnt" -15;
	}
}

.result-annotated {
	max-width: 500px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--border-color);
	text-align: justify;

	.purple {
		color: var(--annotated-dictionary-stress-color);
	}

	a.source-link,
	.small-capitals {
		font-variant: small-caps;
	}
}

.credits-footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
	font-variation-settings: "slnt" -15;
}

/* "stressed on syllable" in the rhymes table */
.stressed-cell {
	width: 200px;
}
