:root {
	--background-color: #f9f9f9;
	--card-background-color: #fff;
	--shaded-background-color: #ddd;
	--primary-color: #222;
	--link-color: #4183c4;
	--border-color: #ddd;
	--header-background-color: #333;
	--header-primary-color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #222;
		--card-background-color: #333;
		--shaded-background-color: #333;
		--primary-color: #eee;
		--border-color: #444;
		--header-background-color: #181818;
	}
}
