@import 'colors.less';
@import 'development-banner.less';
@import 'fonts.less';
@import 'global.less';
@import 'header.less';
@import 'semantic-overrides.less';

.mark-stress() {
	.stressed {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 2px;
	}
}

.ui.cards {
	a.card:hover {
		text-decoration: none;
	}
}

.learn-card {
	width: 100%;
	height: 450px;

	.ui.segment {
		height: 450px;
		cursor: pointer;
	}
}


.learn-card .ui.segment,
.ui.segment.review-card,
.correction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	text-align: center;
	padding: 18px;
	color: var(--primary-color);

	.word {
		font-weight: 700;
		font-size: 1.5rem;
		.mark-stress();
	}

	.type {
		font-weight: 400;
		color: var(--muted-color);
		font-size: 1.5rem;
	}
	
	#english {
		margin-bottom: 15px;
	}

	.meaning {
		font-size: 1.5rem;
	}

	img {
		width: 100%;
		max-width: 270px;
	}
}

.correction {
	.word {
		font-weight: 400;
	}
}

.ui.fluid.meaning-input {
	input {
		padding: 18px;
		font-size: 1.5rem;
		text-align: center;
	}
}

.buttons.under-card {
	margin-top: 45px;
}

.ui.modal > .content {
	.image {
		display: flex;
		flex-direction: column;
		align-items: center;

		.navi-face {
			width: 300px;
			height: 300px;
		}

		.navi-face-description {
			font-weight: 400;
			font-size: 14px;
			margin-top: 0;
		}
	}
}

ul.lesson-words,
ul#reviewed-words {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 10px;

	li.word-pill {
		display: flex;
		flex-direction: column;
		padding: 8px 1rem;
		width: auto;
		margin: 0;
		cursor: pointer;

		.navi {
			font-weight: 700;
			.mark-stress();
			.type {
				font-weight: 400;
				color: var(--muted-color);
			}
		}

		.translation {
			max-width: 25em;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
		}

		&.incorrect {
			border: 2px solid #d6443f;
			padding-left: 40px;
			padding-top: 7px;
			padding-bottom: 7px;

			&:before {
				content: 'x';
				color: #d6443f;
				font-size: 150%;
				position: absolute;
				top: 10px;
				left: 14px;
				font-weight: 550;
			}
		}
	}
}
