@import 'fonts.less';
@import 'global.less';
@import 'study-colors.less';

body {
	font-size: 16px;
	font-family: 'Recursive' !important;
	font-variation-settings: "MONO" 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration-skip-ink: none;

	@media (max-width: 512px) {
		font-size: 14px;
	}
}

.container {
	padding: 0 15px;
}

a {
	color: var(--primary-color);
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.cards-list {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;

	li {
		flex-grow: 1;
		width: 44%;
		cursor: pointer;
		.shadow();
		.rounded();
		.shadow-drops-on-hover();
		&>a {
			display: inline-block;
			padding: 14px 18px;
		}
	}
}

.vertical-list {
	.shadow();
	.rounded();
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-direction: column;

	li {
		padding: 14px 18px;
		cursor: pointer;
		border-top: 1px solid var(--border-color);

		&:first-child {
			border-top: none;
		}
	}
}

.card-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.score {
	float: right;
}

#score-field {
	position: relative;
	display: inline-block;
	font-weight: bold;
}
#score-field.just-changed {
	scale: 125%;
}
#score-field.in-transition {
	transition: scale 0.25s;
}

.rounded() {
	border-radius: 4px;
}

.shadow() {
	background-color: var(--card-background-color);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	border: none;
}

.shadow-drops-on-hover() {
	transition: box-shadow 0.25s;
	&:hover {
		box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
	}
}

.card {
	.shadow();
	.rounded();
	width: 100%;
	box-sizing: border-box;
	font-size: 150%;
	margin: auto;
	max-width: 600px;
	min-height: 120px;
	text-align: center;
	margin-bottom: 50px;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.card>* {
	padding: 25px;
}

.card .type {
	color: #888;
}

input {
	font-family: 'Recursive' !important;
}
input.card:focus {
	outline: none;
	border: 2px solid #4ca6ff;
}

input.card.correct,
.syllable.correct {
	border: 2px solid #3a9550;
	color: #3a9550;
}

input.card.incorrect,
.syllable.incorrect {
	border: 2px solid #d6443f;
	color: #d6443f;
	text-decoration: line-through;
}

.semicard {
	margin: auto;
	max-width: 1000px;
	text-align: center;
	margin-bottom: 50px;
	color: #333;
	&>* {
		font-size: 112%;
	}
}

.semicard-header {
	font-weight: 700;
	margin-bottom: 4px;
}

#correction {
	font-size: 150%;
}

#word-image {
	width: 100%;
	padding: 0;
}

.word-reference {
	border-radius: 4px;
	background-color: #e0e0e0;
	padding: 2px 4px;
}

#buttons-card {
	border-top: 1px solid #ddd;
	padding-top: 50px;
}

button {
	font-family: 'Recursive' !important;
}

.button {
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0px 10px;
	border: none;
	font-size: 112%;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	transition: box-shadow 0.25s;
	position: relative;
	cursor: pointer;
}

.button.primary-button {
	background: linear-gradient(#4ca6ff, #4595e5);
	color: white;
}

.button.secondary-button {
	background-color: #fcfcfc;
	color: black;
}

.button:hover {
	box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

.button.secondary-button[data-text]::before {
	content: attr(data-text);
	pointer-events: none;
	opacity: 0;
	position: absolute;
	left: -60px;
	right: -60px;
	bottom: 70px;
	font-size: 70%;
	line-height: 1.4;
	background-color: #222;
	color: white;
	border-radius: 10px;
	padding: 6px 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	transition: opacity 0.25s, bottom 0.25s;
}

.button.secondary-button:hover::before {
	opacity: 1;
	display: block;
	bottom: 65px;
}

#dialog-layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}

.dialog {
	max-width: 900px;
	background-color: var(--card-background-color);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin: 50px auto;
	border-radius: 4px;
	padding: 20px;
	box-sizing: border-box;

	@media (max-width: 768px) {
		border-radius: 0;
		margin: 0;
		min-height: 100%;
	}
}

.dialog-header {
	font-size: 180%;
	text-align: center;
	font-weight: 700;
	padding-bottom: 25px;
}

.dialog-image {
	img {
		width: 300px;
		max-width: 50%;
		margin: auto;
		display: block;
	}
}

.dialog-body {
	font-size: 112%;
}

.dialog-buttons {
	margin-top: 25px;
	margin-bottom: 5px;
	padding-top: 25px;
	text-align: center;
	border-top: 1px solid #ddd;
}

#definition .lemma {
	font-weight: bold;
}

#definition .type {
	font-style: italic;
}

#syllables {
	padding: 5px;
}

.syllable, .separator {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}

.syllable {
	background-color: var(--card-background-color);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	border: 2px solid var(--card-background-color);
	border-radius: 4px;
	cursor: pointer;
}

.syllable .navi, .separator {
	font-size: 150%;
}

.syllable .index {
	font-size: 112%;
	color: #888;
	padding-top: 5px;
	margin-bottom: -5px;
}

.lesson-words,
.reviewed-words {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}

.lesson-word,
.reviewed-word {
	.shadow();
	.shadow-drops-on-hover();
	.rounded();
	padding: 9px 15px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	position: relative;

	&.lesson-word {
		cursor: pointer;
	}

	&.reviewed-word.incorrect {
		border: 2px solid #d6443f;
		padding-left: 45px;
		&:before {
			content: 'x';
			color: #d6443f;
			font-size: 150%;
			position: absolute;
			top: 19px;
			left: 14px;
		}
	}

	.navi {
		display: block;
		font-weight: 700;
		padding-bottom: 4px;
		.type {
			font-weight: 400;
			color: #888;
		}
	}

	.english {
		display: block;
		max-width: 400px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.comment {
	text-align: left;
}

header {
	background-color: var(--header-background-color);
	color: var(--header-primary-color);
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	flex-direction: column;
	padding: 10px 15px;

	#lesson-information {
		margin: 0 auto;
		max-width: 1000px;

		.lesson-number {
			font-weight: bold;
		}
	}
}

#progress-bar {
	.shadow();
	height: 5px;
	background-color: black;
	margin-bottom: 40px;
}

#progress-bar .filled-part {
	background-color: #3a9550;
	width: 0%;
	height: 100%;
	transition: width .5s;
}

.progress-bar .filled-part.incorrect {
	background-color: #d6443f;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #fff;
	}

	input {
		color: #fff;
	}

	.card .type {
		color: #888;
	}

	input.card:focus {
		border-color: #4ca6ff;
	}

	input.card.correct,
	.syllable.correct {
		border-color: #3a9550;
		color: #3a9550;
	}

	input.card.incorrect,
	.syllable.incorrect {
		border-color: #d6443f;
		color: #d6443f;
	}

	.semicard {
		color: #ddd;
	}

	.word-reference {
		background-color: var(--card-background-color);
	}

	#buttons-card {
		border-top: 1px solid #444;
	}

	.dialog-buttons {
		border-top-color: #444;
	}

	.speed-tip {
		color: #888;
	}

	.syllable {
		background-color: var(--card-background-color);
		border-color: #444;
	}

	.syllable .index {
		color: #888;
	}
	
	.learned-word {
		background-color: var(--card-background-color);
	}
}
