.word-list-toc {
	position: sticky;
	top: 0px;
	padding: 20px 0px;
	background-color: var(--background-color);
	box-shadow: 0 0 4px 4px var(--background-color);
	text-align: center;

	.ui.search {
		.ifNarrowMoveDropdownBelow();
	}

	.ui.dropdown {
		width: 220px;

		& > .menu > .subitem {
			margin-left: 25px;
		}
	}

	#toc-bar {
		margin-top: 8px;

		& > a.ui.button {
			width: 2em;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

h2[id] {
	pointer-events: none;  /* avoid the overlapping part blocking mouse events (e.g., selecting items behind it) */

	/* invisible part above the h2 to ensure that going to the h2's anchor doesn't end up with the h2 being hidden under
	   the sticky header */
	&::before {
		content: '';
		display: block;
		height: 116px;
		margin-top: -116px;
		visibility: hidden;
	}
}

@media (max-width: 768px) {
	.word-list-toc #toc-bar {
		display: flex;
		flex-flow: row wrap;
	}

	.word-list-toc #toc-bar > a.ui.button {
		width: 9.09090909%;
		flex-grow: 0;
	}

	h2[id]::before {
		height: 150px;
		margin-top: -150px;
	}
}

.word-list .letter-block {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--border-color);
}

@media (max-width: 768px) {
	.word-list .letter-block {
		column-count: 1;
	}
}

.word-list .entry {
	padding-bottom: 5px;
	break-inside: avoid-column;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.word-list .word,
.word-list .number {
	font-weight: 700;
}

.word-list .word-type {
	font-style: italic;
	font-variation-settings: "slnt" -15;
}

.word-list .status-badge.loan,
.word-list .status-badge.unconfirmed,
.word-list .status-badge.unofficial {
	background-image: url('/images/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 5px 5px;
	background-color: var(--warning-background-color);
	border-radius: 10px;
	padding: 4px 6px;
	padding-left: 22px;
	margin: 0 2px;
}

.word-list .source-link {
	font-variant: small-caps;
	text-decoration: none;
}

.word-list .reference {
	font-weight: 600;
}

.word-list.explanation {
	margin-bottom: 110px;
}

.word-list.explanation .entry {
	position: relative;
}

.word-list.explanation .arrow {
	position: absolute;
	top: 20px;
}

@media (prefers-color-scheme: dark) {
	.word-list.explanation .arrow {
		filter: invert();
	}
}

.two-columns {
	display: flex;
	flex-flow: row wrap;
}
.two-columns .column {
	width: 50%;
	flex-grow: 0;
}
@media (max-width: 768px) {
	.two-columns .column {
		width: 100%;
	}
}
