<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Corpus editor &bull; Reykunyu</title>
		<link rel="stylesheet" type="text/css" href="/aysrungsiyu/semantic/dist/semantic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/tìlam/tìlam.css" rel="stylesheet">
	</head>
	<body data-url="<%= post_url %>">
		<div class="container">
			<%- include('header.ejs') %>

			<div class="ui form">
				<div class="field">
					<label>ID</label>
					<input id="id-field" type="text">
				</div>
				<div class="field">
					<label>Sentence</label>
					<input id="sentence-field" type="text">
				</div>
				<div class="ui section divider"></div>
				<a href="/corpus-editor" class="ui floated right submit button">
					Cancel
				</a>
				<div id="save-button" class="ui floated right primary submit icon labeled button">
					<i class="check icon"></i>
					Add sentence
				</div>
			</div>
		</div>

		<script src="/aysrungsiyu/jquery/jquery-3.3.1.js"></script>
		<script src="/aysrungsiyu/semantic/dist/semantic.js"></script>
		<script src="/ayvefya/corpusEditorAdd.js"></script>
		<script src="/ayvefya/ui-translations.js"></script>
	</body>
</html>
