@font-face {
	font-family: 'Recursive';
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	src: url('/fonts/Recursive_VF_1.078.woff2');
}

body {
	margin: 0;
	font-family: 'Recursive' !important;
	background-color: #f9f9f9;
	line-height: 1.4;
	text-decoration-skip-ink: none;
}

a {
	text-decoration: none;
}

.score {
	float: right;
}

#score-field {
	position: relative;
	display: inline-block;
	font-weight: bold;
}
#score-field.just-changed {
	scale: 125%;
}
#score-field.in-transition {
	transition: scale 0.25s;
}

.main-container {
	padding-top: 40px;
}

.card {
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 25px;
	margin: auto;
	max-width: 600px;
	min-height: 120px;
	text-align: center;
	margin-bottom: 50px;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

.card>* {
	padding: 25px;
}

.card .type {
	color: #888;
}

input {
	font-family: 'Recursive' !important;
}
input.card:focus {
	outline: none;
	border: 2px solid #4ca6ff;
}

input.card.correct,
.syllable.correct {
	border: 2px solid #3a9550;
	color: #3a9550;
}

input.card.incorrect,
.syllable.incorrect {
	border: 2px solid #d6443f;
	color: #d6443f;
	text-decoration: line-through;
}

.semicard {
	font-size: 18px;
	margin: auto;
	max-width: 900px;
	padding: 0 25px;
	text-align: center;
	margin-bottom: 50px;
	color: #333;
}

.semicard-header {
	font-weight: 700;
	margin-bottom: 4px;
}

#correction {
	font-size: 25px;
}

#word-image {
	width: 100%;
	padding: 0;
}

.word-reference {
	border-radius: 4px;
	background-color: #e0e0e0;
	padding: 2px 4px;
}

#buttons-card {
	border-top: 1px solid #ddd;
	padding-top: 50px;
}

button {
	font-family: 'Recursive' !important;
}

.button {
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0px 10px;
	font-size: 25px;
	border: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	transition: box-shadow 0.25s;
	position: relative;
	cursor: pointer;
}

.button.primary-button {
	background: linear-gradient(#4ca6ff, #4595e5);
	color: white;
}

.button.secondary-button {
	background-color: #fcfcfc;
	color: black;
}

.button:hover {
	box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

.button.secondary-button::before {
	content: attr(data-text);
	pointer-events: none;
	opacity: 0;
	position: absolute;
	left: -60px;
	right: -60px;
	bottom: 70px;
	font-size: 15px;
	line-height: 1.4;
	background-color: #222;
	color: white;
	border-radius: 10px;
	padding: 6px 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	transition: opacity 0.25s, bottom 0.25s;
}

.button.secondary-button:hover::before {
	opacity: 1;
	display: block;
	bottom: 65px;
}

#dialog-layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
	max-width: 900px;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	padding: 20px;
}

.dialog-header {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	padding-bottom: 25px;
}

.dialog-body {
	font-size: 18px;
}

.dialog-buttons {
	margin-top: 25px;
	margin-bottom: 5px;
	padding-top: 25px;
	text-align: center;
	border-top: 1px solid #ddd;
}

.speed-tip {
	font-size: 70%;
	color: #888;
	display: none;
}

#definition .lemma {
	font-weight: bold;
}

#definition .type {
	font-style: italic;
}

#syllables {
	padding: 5px;
}

.syllable, .separator {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}

.syllable {
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
	border: 2px solid white;
	border-radius: 4px;
	cursor: pointer;
}

.syllable .navi, .separator {
	font-size: 25px;
}

.syllable .index {
	font-size: 18px;
	color: #888;
	padding-top: 5px;
	margin-bottom: -5px;
}
