@font-face {
	font-family: 'Recursive';
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	src: url('/fonts/Recursive_VF_1.078.woff2');
}
@font-face {
	font-family: 'Gentium Plus';
	src: url('/fonts/GentiumPlus-Regular.woff2');
}

:root {
	--background-color: #fff;
	--dialog-background-color: #fff;
	--primary-color: #222;
	--border-color: #ddd;
	--focus-color: #85B7D9;
	--disabled-color: #bbb;
	--muted-color: #888;
	--correction-color: #d25;
	--error-background-color: #ffc4bb;
	--error-color: #9a2210;
	--warning-background-color: #fff3bf;
	--warning-color: #f2bd10;
	--success-background-color: #bbface;
	--shaded-background-color: #f0f0f0;
	--lightly-shaded-background-color: #f9fafb;
	--hovered-background-color: #f9fafb;
	--prefix-color: #d25;
	--lenition-color: #295;
	--infix-color: #8623dd;
	--suffix-color: #25d;
	--translation-highlight-color: #17e;
	--annotated-dictionary-stress-color: #8623dd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #080808;
		--dialog-background-color: #111;
		--primary-color: #eee;
		--border-color: #444;
		--focus-color: #85B7D9;
		--disabled-color: #555;
		--muted-color: #888;
		--correction-color: #df5278;
		--error-background-color: #1a0906;
		--error-color: #9a2210;
		--warning-background-color: #1a1606;
		--warning-color: #f2bd10;
		--success-background-color: #060a08;
		--shaded-background-color: #222;
		--lightly-shaded-background-color: #222;
		--hovered-background-color: #111;
		--prefix-color: #ef6e91;
		--lenition-color: #76dfa3;
		--infix-color: #be7cf8;
		--suffix-color: #79affb;
		--translation-highlight-color: #76b4fa;
		--annotated-dictionary-stress-color: #c182f9;
	}
}

body,
.ui.button,
.ui.modal .ui.header,
h1, h2, h3, h4, h5,
.ui.menu,
.ui input,
#search-box,
.ui.modal .header,
.ui.popup .header {
	font-family: 'Recursive' !important;
	font-variation-settings: "MONO" 0;
}

a:hover {
	text-decoration: underline;
}

body,
.ui.form .field > label,
.ui.label,
.ui.search > .results .result .title,
.ui.selection.dropdown:hover,
.ui.selection.dropdown:focus,
.ui.selection.visible.dropdown > .text:not(.default),
.ui.modal .header,
.ui.modal .content,
.ui.checkbox label,
.ui.checkbox + label,
.ui.checkbox label:hover,
.ui.checkbox + label:hover,
.ui.checkbox input:focus ~ label,
.ui.horizontal.divider,
.ui.vertical.divider,
.ui.tabular.menu .item,
.ui.tabular.menu .item:hover,
.ui.tabular.menu .active.item,
.ui.pointing.menu .item,
.ui.pointing.menu .item:hover,
.ui.disabled.checkbox label,
.ui.checkbox input[disabled] ~ label {
	color: var(--primary-color);
}

.ui.basic.button,
.ui.basic.buttons .button {
	color: var(--muted-color) !important;
}

.ui.basic.button:hover,
.ui.basic.button.active,
.ui.basic.buttons .button:hover,
.ui.basic.buttons .button.active {
	color: var(--muted-color) !important;
	background-color: var(--hovered-background-color) !important;
}

.ui.modal,
.ui.modal .header,
.ui.modal .content {
	background-color: var(--dialog-background-color);
}

.ui.modal .actions,
.ui.segment {
	background-color: var(--lightly-shaded-background-color);
}

.ui.tabular.menu .active.item {
	background-color: var(--background-color);
}

.ui.tabular.menu,
.ui.tabular.menu .active.item {
	border-color: var(--border-color);
}

.ui.input, .ui.input input,
.ui.selection.dropdown {
	background-color: var(--background-color);
	border-color: var(--border-color);
	color: var(--primary-color);
}

.ui.input input:focus {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.ui.search .action:hover {
	background-color: var(--background-color);
}

.ui.search > .results {
	background-color: var(--background-color);
	border-color: var(--border-color);
}

.ui.selection.dropdown:hover {
	border-color: var(--border-color);
}

.ui.menu .item {
	transition: none;
}

.ui.tag.labels .label::after, .ui.tag.label::after {
	background-color: var(--background-color) !important;
}

.ui.pointing.menu {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
}

.ui.pointing.menu .item {
	background-color: var(--background-color);
}
.ui.pointing.menu .item:hover {
	background-color: var(--hovered-background-color);
}

.ui.pointing.menu .active.item {
	background-color: var(--shaded-background-color);
}

.ui.pointing.menu .active.item::after {
	border-color: var(--border-color);
	background-color: var(--shaded-background-color);
	transition: none;
}
.ui.pointing.menu .active.item:hover::after {
	background-color: var(--shaded-background-color);
}

.ui.menu .item::before {
	background-color: var(--border-color);
}

.ui.label {
	background-color: var(--shaded-background-color);
	transition: none;
}

body {
	font-size: 14px;
	background-color: var(--background-color);
	padding: 0 15px;
	width: 100%;
	line-height: 1.6;
	height: auto;
	min-width: 300px;
	overflow-x: auto;
}

.container {
	margin: 0px auto;
	max-width: 1000px;
	padding: 20px 0px;
}

body.wide .container,
.container.wide {
	max-width: none;
}

h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid var(--border-color);
}

h1 #user-label {
	position: relative;
	top: -5px;
}

h1 .logo {
	background-image: url('/ayrel/reykunyu.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
	h1 .logo {
		background-image: url('/ayrel/reykunyu-dark.svg');
	}
}

#language-dropdown {
	margin-left: 10px;
}

h1::after {
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
	width: 0px;
}

.main-menu {
	width: 100%;
}

.main-menu > .button > .button-label {
	padding-left: 6px;
}
.main-menu > .button > .icon.dropdown {
	padding-left: 6px;
}

.main-menu > .button.dropdown {
	text-align: center;
}

.main-menu > .button.dropdown .menu .item {
	text-decoration: none;
}

@media (max-width: 600px) {
	.main-menu > .button {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-menu > .button > .button-label {
		padding-left: 0;
		padding-top: 6px;
	}

	.main-menu > .button > .icon.dropdown {
		padding-left: 0;
		padding-top: 3px;
	}

	/* put the mode dropdown below the search field */
	#search-form .ui.input {
		flex-wrap: wrap;
	}
	#search-form .search.icon {
		height: 38px;
	}
	#search-form #search-box {
		border-top-right-radius: 0.28571429rem !important;
		border-right-color: rgba(34, 36, 38, 0.15) !important;
		border-bottom-left-radius: 0px !important;
		border-bottom-color: transparent !important;
	}
	@media (prefers-color-scheme: dark) {
		#search-form #search-box {
			border-right-color: #555 !important;
		}
	}
	#search-form #search-box:focus {
		border-right-color: var(--focus-color) !important;
		border-bottom-color: var(--focus-color) !important;
	}
	#search-form #mode-direction {
		width: 100%;
		border-top-right-radius: 0px !important;
		border-bottom-left-radius: 0.28571429rem !important;
	}
}

@media (max-width: 460px) {
	.main-menu > .button > .button-label {
		font-weight: 475;
		font-size: 85%;
		padding-top: 5px;
	}

	#language-dropdown .text {
		display: none;
	}
}

@media (max-width: 400px) {
	.main-menu > .button > .button-label {
		font-weight: 550;
		font-size: 70%;
		padding-top: 4px;
	}
}

@media (max-width: 340px) {
	.main-menu > .button > .button-label {
		display: none;
	}
}

@media (min-width: 1000px) {
	.main-menu {
		width: auto;
		float: right;
	}
}

#mode-direction {
	width: 200px;
}

.ui.search > .results {
	max-height: 500px;
	overflow-y: auto;
}

.ui.search > .results .result .title {
	font-family: 'Recursive';
	display: inline-block;
	width: 30%;
}

.ui.search > .results .result .description {
	display: inline-block;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--muted-color);
}

.ui.search > .results .result:hover {
	background-color: var(--hovered-background-color);
}

#tab-mode-bar {
	margin-bottom: 40px;
	justify-content: center;
}
#tab-mode-bar .item {
	cursor: pointer;
	flex-grow: 0.05;
	justify-content: center;
}
#tab-mode-bar .gray {
	color: var(--disabled-color);
}
#tab-mode-bar .item .result-count-tag {
	display: inline-block;
	padding: 3px 6px;
	margin-left: 15px;
	background-color: var(--primary-color);
	color: var(--background-color);
	font-size: 12px;
	font-weight: 700;
	border-radius: 20px;
}
#tab-mode-bar .item.gray .result-count-tag {
	background-color: var(--disabled-color);
}

@media (max-width: 460px) {
	#tab-mode-bar .item {
		flex-direction: column;
		padding: 10px;
	}
	#tab-mode-bar .item .result-count-tag {
		display: block;
		margin-left: 0;
		margin-top: 4px;
	}
}

@media (max-width: 400px) {
	#tab-mode-bar .item {
		font-weight: 475;
		font-size: 85%;
	}
	#tab-mode-bar .item.active {
		font-weight: 800;
	}
}

#sentence-bar {
	flex-wrap: wrap;
}

#sentence-bar .item {
	align-items: normal;
}

#sentence-bar .item .navi {
	font-weight: bold;
	text-align: center;
}

#sentence-bar .item .definition {
	padding-top: 5px;
	text-align: center;
}

#sentence-bar .item .label {
	font-size: 75%;
}

#sentence-bar .item .more {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
}

#results .result {
	margin-top: 50px;
	clear: right;
}

.result .result-word {
	position: sticky;
	top: -1px;
	background-color: var(--background-color);
	padding: 10px 0;
	box-shadow: 0 0 4px 4px var(--background-color);
	z-index: 1;
}

.result .result-word .id {
	width: 58px;
	display: inline-block;
	text-align: right;
	margin-left: -30px;
	padding-right: 10px;
	font-size: 30px;
}

.result .result-word .lemma {
	font-size: 30px;
	font-weight: 700;
}

.type.ui.type-badge {
	margin-left: 16px;
}
#sentence-bar .type.ui.type-badge {
	margin-left: 0px;
}
.result .result-word .type-badge {
	position: relative;
	top: -5px;
}

.stressed {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
}

.result .result-word .stressed {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 2px;
}

.result .stress {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.ipa {
	font-family: "Gentium Plus";
	font-size: 110%;
}

.pronunciation-audio-buttons {
	display: inline-block;
	margin-left: 10px;
}

.pronunciation-audio-button {
	position: relative;
	top: -1px;
}

.result .result-word .status-badge {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.result .result-word .status-badge.loan,
.result .result-word .status-badge.unconfirmed,
.result .result-word .status-badge.unofficial {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	font-weight: 700;
	padding-left: 22px;
}

.result .result-word .type > .detail {
	opacity: 0.6;
}

.result .result-word .edit-button {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.result .result-item.conjugated-box {
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid var(--border-color);
}

.conjugated-box-item {
	position: relative;
	padding: 8px;
	margin-top: 8px;
	padding-left: 40px;
	border-top: 1px solid var(--border-color);
}
.conjugated-box-item:first-child {
	margin-top: 0;
	border-top: none;
}
.conjugated-box-item::before {
	content: '»';
	position: absolute;
	margin-top: 8px;
	font-size: 18px;
	left: 18px;
	top: 0;
	color: var(--muted-color);
}

.conjugation-explanation,
.lenition-explanation {
	font-size: 18px;
}

.conjugation-explanation .operator,
.lenition-explanation .operator {
	margin-left: 10px;
	margin-right: 10px;
	color: var(--muted-color);
}

.conjugation-explanation .word,
.lenition-explanation .word {
	font-weight: 700;
}

.conjugation-explanation .correction,
.lenition-explanation .correction {
	margin-right: 10px;
	color: var(--correction-color);
	font-weight: 700;
	text-decoration: line-through;
}

.result .definition-image {
	float: right;
	margin-left: 40px;
}

.result .definition-image img {
	width: 250px;
}

.result .definition-image .credit {
	text-align: center;
	font-style: italic;
}

.result .result-item {
	margin-left: 28px;
	margin-top: 20px;
}

.result .result-item.definition {
	font-size: 25px;
	margin-top: 10px;
}

.result .result-item.definition ol {
	margin-top: 0;
	margin-bottom: 30px;
}

.result .result-item.definition ol li {
	margin-top: 10px;
	margin-bottom: 20px;
}

.result .result-item .header {
	font-weight: 700;
}

.result .result-item summary.header {
	display: list-item;
}

.result .result-item summary.header .header-hide {
	font-weight: 400;
}

.result .result-item summary.header .header-hide::before {
	content: ":";
	margin-right: 10px;
}

.result .result-item[open] summary.header .header-hide {
	display: none;
}

.result .result-item .body {
	margin-left: 20px;
	overflow-x: auto;
}

.result .affixes {
	overflow-x: visible;
	padding-top: 8px;
}

.result .result-item.affixes table {
	margin: 0;
}

.result .result-item.affixes table tr td:first-child {
	font-weight: 700;
}

.result .result-item.status-note {
	background-color: var(--warning-background-color);
	padding: 10px 14px;
	border-radius: 3px;
	padding-left: calc(14px + 2em);
	text-indent: -2em;
}

.result .result-item .conjugation-note {
	background-image: url('/ayrel/srungtsyìp.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	padding-left: 22px;
}

.sentence-category {
	font-style: italic;
	margin-top: 10px;
}

.sentence {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.sentence .translation {
	color: var(--muted-color);
}

.sentence .source {
	color: var(--muted-color);
	font-style: italic;
}

/* errors */

.error {
	color: var(--muted-color);
	text-align: center;
}

.error p {
	width: 80%;
	min-width: 270px;
	margin: 20px auto;
}

.error .error-text {
	font-size: 30px;
	color: var(--muted-color);
}

.error .error-subtext {
	font-style: italic;
}

.error .error-icon {
	margin: 20px auto;
}

@media (prefers-color-scheme: dark) {
	.error .error-icon {
		opacity: 0.15;
	}
}

.error pre {
	text-align: left;
}



/* tables */

table {
	margin-top: 8px;
	width: 100%;
}

table tr {
	border-top: 1px solid var(--border-color);
}

table tr td,
table tr th {
	padding: 5px 10px;
}

table tr td.column-title {
	text-align: center;
	font-style: italic;
}

table tr td.row-title {
	text-align: right;
	font-style: italic;
}

table.conjugation-table {
	min-width: 800px;
}

.prefix,
.word-link.prefix,
.word-link .prefix {
	color: var(--prefix-color);
	font-weight: bold;
}

.lenition {
	color: var(--lenition-color);
	font-weight: bold;
}

.infix,
.word-link.infix,
.word-link .infix {
	color: var(--infix-color);
	font-weight: bold;
}

.suffix,
.word-link.suffix,
.word-link .suffix {
	color: var(--suffix-color);
	font-weight: bold;
}

.root-infix {
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
}

.muted {
	color: var(--muted-color);
}

.highlight {
	color: var(--translation-highlight-color);
}

.result a {
	cursor: pointer;
}

.word-link {
	border-radius: 4px;
	background-color: var(--shaded-background-color);
	padding: 2px 4px;
	color: var(--primary-color);
	white-space: nowrap;
}
.word-link:hover {
	background-color: var(--hovered-background-color);
	color: var(--primary-color);
	text-decoration: none;
}

.word-link .navi {
	font-weight: 700;
}

.word-link .translation {
	color: var(--muted-color);
}

/* word list */
.word-list-toc {
	position: sticky;
	top: 0px;
	background-color: var(--background-color);
	box-shadow: 0 0 4px 4px var(--background-color);
	text-align: center;
}

.word-list-toc #type-filter-dropdown {
	width: 220px;
}

.word-list-toc #type-filter-dropdown > .menu > .subitem {
	margin-left: 25px;
}

.word-list-toc #toc-bar {
	margin-top: 8px;
}

.word-list-toc #toc-bar > a.ui.button {
	width: 2em;
	padding-left: 0;
	padding-right: 0;
}

h2[id]::before {
	content: '';
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}

@media (max-width: 768px) {
	.word-list-toc #toc-bar {
		display: flex;
		flex-flow: row wrap;
	}

	.word-list-toc #toc-bar > a.ui.button {
		width: 9.09090909%;
		flex-grow: 0;
	}

	h2[id]::before {
		content: '';
		display: block;
		height: 105px;
		margin-top: -105px;
		visibility: hidden;
	}
}

.word-list .letter-block {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--border-color);
}

@media (max-width: 768px) {
	.word-list .letter-block {
		column-count: 1;
	}
}

.word-list .entry {
	padding-bottom: 5px;
	break-inside: avoid-column;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.word-list .word,
.word-list .number {
	font-weight: 700;
}

.word-list .word-type {
	font-style: italic;
}

.word-list .status-badge.loan,
.word-list .status-badge.unconfirmed,
.word-list .status-badge.unofficial {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 5px 5px;
	background-color: var(--warning-background-color);
	border-radius: 10px;
	padding: 4px 6px;
	padding-left: 22px;
	margin: 0 2px;
}

.word-list .source-link {
	font-variant: small-caps;
	text-decoration: none;
}

.word-list .reference {
	font-weight: 600;
}

.word-list.explanation {
	margin-bottom: 110px;
}

.word-list.explanation .entry {
	position: relative;
}

.word-list.explanation .arrow {
	position: absolute;
	top: 20px;
}

@media (prefers-color-scheme: dark) {
	.word-list.explanation .arrow {
		filter: invert();
	}
}

.two-columns {
	display: flex;
	flex-flow: row wrap;
}
.two-columns .column {
	width: 50%;
	flex-grow: 0;
}
@media (max-width: 768px) {
	.two-columns .column {
		width: 100%;
	}
}

.warning {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	font-weight: 700;
	padding-left: 22px;
}

.result-annotated {
	max-width: 500px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--border-color);
	text-align: justify;
}

.result-annotated .purple {
	color: var(--annotated-dictionary-stress-color);
}

.result-annotated a.source-link,
.result-annotated .small-capitals {
	font-variant: small-caps;
}

.credits-footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
}

.etymology-field,
.source-field {
	transition: background-color .2s !important;
}

.etymology-field.edit-succeeded,
.source-field.edit-succeeded {
	background-color: var(--success-background-color) !important;
}

.stressed-cell {
	width: 200px;
}

/* infix details dialog */
#infix-details-input,
#infix-details-result {
	text-align: center;
	font-weight: 700;
	font-size: 125%;
}

#infix-details-input-translation,
#infix-details-result-translation {
	text-align: center;
	color: var(--muted-color);
}

/* settings modal */
#settings-modal .explanation {
	line-height: 1.4285em;
	padding-top: 2px;
	padding-bottom: 5px;
	color: var(--muted-color);
}

/* sentence analysis */
.beta-notice-block,
.error-block,
.warning-block,
.result-block {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 20px;
}
.beta-notice-block {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.error-block {
	background-color: var(--error-background-color);
	border-left: 2px solid var(--error-color);
}
.warning-block {
	background-color: var(--warning-background-color);
	border-left: 2px solid var(--warning-color);
}
.result-block .header,
.error-block .header,
.warning-block .header {
	font-weight: 700;
}
.result-block .body,
.error-block .body,
.warning-block .body {
	margin-left: 20px;
}

/* help */
.note-box {
	margin: 20px 0;
	border-radius: 4px;
	border: 1px solid var(--border-color);
	padding: 15px 20px;
}

#tab-help-page-bar {
	position: sticky;
	top: 0;
	background-color: var(--background-color);
	padding: 10px 0;
	margin-bottom: 5px;
	box-shadow: 0 0 4px 4px var(--background-color);
	z-index: 1;
}

.api-output-description-table td {
	vertical-align: top;
}

/* development banner */
.development-banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 10px;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
	background:
			linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background-color) 80%),
			repeating-linear-gradient(-55deg,
				var(--warning-background-color),
				var(--warning-background-color) 20px,
				var(--background-color) 20px,
				var(--background-color) 40px);
	z-index: -1;
}

.development {
	display: inline-block;
	background-color: var(--warning-color);
	font-weight: 600;
	color: var(--background-color);
	padding: 2px 10px;
	margin-bottom: 25px;
	border-radius: 100px;
}
