@font-face {
	font-family: 'Recursive';
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	src: url('/fonts/Recursive_VF_1.078.woff2');
}
@font-face {
	font-family: 'Gentium Plus';
	src: url('/fonts/GentiumPlus-Regular.woff2');
}

body,
.ui.button,
.ui.modal .ui.header,
h1, h2, h3, h4, h5,
.ui.menu,
.ui.form input,
#search-box,
.ui.modal .header {
	font-family: 'Recursive' !important;
}

a {
	text-decoration: underline;
}

body {
	font-size: 14px;
	background-color: #fff;
	color: #222;
	padding: 0 15px;
	width: 100%;
	line-height: 1.5;
	height: auto;
}

.container {
	margin: 0px auto;
	max-width: 1000px;
	padding: 20px 0px;
}

body.wide .container,
.container.wide {
	max-width: none;
}

h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

h1 #user-label {
	position: relative;
	top: -5px;
}

h1 .logo {
	background-image: url('/ayrel/reykunyu.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}

#language-dropdown {
	margin-left: 10px;
}

h1::after {
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
	width: 0px;
}

#mode-direction {
	width: 200px;
}

.ui.search > .results {
	max-height: 500px;
	overflow-y: auto;
}

.ui.search > .results .result .title {
	font-family: 'Recursive';
	display: inline-block;
	width: 30%;
}

.ui.search > .results .result .description {
	display: inline-block;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#tab-mode-bar {
	margin-bottom: 40px;
	justify-content: center;
}
#tab-mode-bar .item {
	cursor: pointer;
	flex-grow: 0.05;
	justify-content: center;
}
#tab-mode-bar .gray {
	color: #bbb;
}
#tab-mode-bar .item .result-count-tag {
	display: inline-block;
	padding: 3px 6px;
	margin-left: 15px;
	background-color: black;
	color: white;
	font-size: 12px;
	font-weight: 700;
	border-radius: 20px;
}
#tab-mode-bar .item.gray .result-count-tag {
	background-color: #ccc;
}

#sentence-bar {
	flex-wrap: wrap;
}

#sentence-bar .item {
	align-items: normal;
}

#sentence-bar .item .navi {
	font-weight: bold;
	text-align: center;
}

#sentence-bar .item .definition {
	padding-top: 5px;
	text-align: center;
}

#sentence-bar .item .label {
	font-size: 75%;
}

#sentence-bar .item .more {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
}

#results .result {
	margin-top: 50px;
	clear: right;
}

.result .result-word {
	position: sticky;
	top: -1px;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 0 4px 4px white;
}

.result .result-word .id {
	color: #aaa;
	width: 48px;
	display: inline-block;
	text-align: right;
	margin-left: -20px;
	padding-right: 5px;
}

.result .result-word .id,
.result .result-word .lemma {
	font-size: 30px;
	font-weight: 700;
}

.type.ui.type-badge {
	margin-left: 16px;
}
#sentence-bar .type.ui.type-badge {
	margin-left: 0px;
}
.result .result-word .type-badge {
	position: relative;
	top: -5px;
}

.result .stress {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.result .stress .stressed {
	text-decoration: underline;
}

.ipa {
	font-family: "Gentium Plus";
	font-size: 110%;
}

.pronunciation-audio-buttons {
	display: inline-block;
	margin-left: 10px;
}

.pronunciation-audio-button {
	position: relative;
	top: -1px;
}

.result .result-word .status-badge {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.result .result-word .status-badge.loan,
.result .result-word .status-badge.unconfirmed,
.result .result-word .status-badge.unofficial {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	font-weight: 700;
	padding-left: 22px;
}

.result .result-word .type > .detail {
	opacity: 0.6;
}

.result .result-word .edit-button {
	margin-left: 26px;
	position: relative;
	top: -5px;
}

.conjugation-explanation,
.lenition-explanation {
	margin-top: 3px;
	margin-left: 20px;
	font-size: 18px;
}

.conjugation-explanation .operator,
.lenition-explanation .operator {
	margin-left: 10px;
	margin-right: 10px;
	color: #888;
}

.conjugation-explanation .word,
.lenition-explanation .word {
	font-weight: 700;
}

.conjugation-explanation .correction,
.lenition-explanation .correction {
	margin-right: 10px;
	color: #dd2255;
	font-weight: 700;
	text-decoration: line-through;
}

.result .definition-image {
	float: right;
	margin-left: 40px;
}

.result .definition-image img {
	width: 250px;
}

.result .definition-image .credit {
	text-align: center;
	font-style: italic;
}

.result .result-item {
	margin-left: 28px;
	margin-top: 20px;
}

.result .result-item.definition {
	font-size: 25px;
	margin-top: 10px;
}

.result .result-item.definition ol {
	margin-top: 0;
	margin-bottom: 30px;
}

.result .result-item.definition ol li {
	margin-top: 10px;
	margin-bottom: 20px;
}

.result .result-item.note {
	font-style: italic;
}

.result .result-item .header {
	font-weight: 700;
}

.result .result-item summary.header {
	display: list-item;
}

.result .result-item summary.header .header-hide {
	font-weight: 400;
}

.result .result-item summary.header .header-hide::before {
	content: ":";
	margin-right: 10px;
}

.result .result-item[open] summary.header .header-hide {
	display: none;
}

.result .result-item .body {
	margin-left: 20px;
	overflow-x: auto;
}

.result .result-item.affixes .body {
	overflow-x: visible;
	padding-top: 8px;
}

.result .result-item.affixes table {
	margin: 0;
}

.result .result-item.affixes table tr td:first-child {
	font-weight: 700;
}

.result .result-item.status-note {
	background-color: #fff3bf;
	padding: 10px 14px;
	border-radius: 3px;
	padding-left: calc(14px + 2em);
	text-indent: -2em;
}

.result .result-item .conjugation-note {
	background-image: url('/ayrel/srungtsyìp.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	padding-left: 22px;
}

.sentence-category {
	font-style: italic;
	margin-top: 10px;
}

.sentence {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.sentence .translation {
	color: #888;
}

.sentence .source {
	color: #888;
	font-style: italic;
}

/* errors */

.error {
	color: #999;
	text-align: center;
}

.error p {
	width: 80%;
	min-width: 400px;
	margin: 20px auto;
}

.error .error-text {
	font-size: 30px;
	color: #aaa;
}

.error .error-subtext {
	font-style: italic;
}



/* tables */

table {
	margin-top: 8px;
	width: 100%;
}

table tr {
	border-top: 1px solid #ddd;
}

table tr td {
	padding: 5px 10px;
}

table tr td.column-title {
	text-align: center;
	font-style: italic;
}

table tr td.row-title {
	text-align: right;
	font-style: italic;
}

table.conjugation-table {
	min-width: 800px;
}

.prefix,
.word-link.prefix,
.word-link .prefix {
	color: #dd2255;
	font-weight: bold;
}

.lenition {
	color: #229955;
	font-weight: bold;
}

.infix,
.word-link.infix,
.word-link .infix {
	color: #8623dd;
	font-weight: bold;
}

.suffix,
.word-link.suffix,
.word-link .suffix {
	color: #2255dd;
	font-weight: bold;
}

.root-infix {
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
}

.muted {
	color: #888;
}

.highlight {
	color: #17e;
}

.result a {
	color: #222;
	cursor: pointer;
}

.word-link {
	font-weight: 700;
}

.word-link:before {
	content: '→ ';
	font-weight: 700;
	color: #222;
	text-decoration: underline white;
}

/* word list */
.word-list-toc {
	position: sticky;
	top: 0px;
	background-color: white;
	box-shadow: 0 0 4px 4px white;
	text-align: center;
}

.word-list-toc #toc-bar > a.ui.button {
	width: 2em;
	padding-left: 0;
	padding-right: 0;
}

h2[id]::before {
	content: '';
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}

@media (max-width: 768px) {
	.word-list-toc #toc-bar {
		display: flex;
		flex-flow: row wrap;
	}

	.word-list-toc #toc-bar > a.ui.button {
		width: 9.09090909%;
		flex-grow: 0;
	}

	h2[id]::before {
		content: '';
		display: block;
		height: 105px;
		margin-top: -105px;
		visibility: hidden;
	}
}

.word-list .letter-block {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid #ddd;
}

@media (max-width: 768px) {
	.word-list .letter-block {
		column-count: 1;
	}
}

.word-list .entry {
	padding-bottom: 5px;
	break-inside: avoid-column;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.word-list .word,
.word-list .number {
	font-weight: 700;
}

.word-list .word-type {
	font-style: italic;
}

.word-list .stressed {
	text-decoration: underline;
}
.word-list .status-badge.loan,
.word-list .status-badge.unconfirmed,
.word-list .status-badge.unofficial {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 5px 5px;
	background-color: #fcf2c3;
	border-radius: 10px;
	padding: 4px 6px;
	padding-left: 22px;
	margin: 0 2px;
}

.word-list .source-link {
	font-variant: small-caps;
	text-decoration: none;
}

.word-list.explanation {
	margin-bottom: 110px;
}

.word-list.explanation .entry {
	position: relative;
}

.word-list.explanation .arrow {
	position: absolute;
	top: 20px;
}

.two-columns {
	display: flex;
	flex-flow: row wrap;
}
.two-columns .column {
	width: 50%;
	flex-grow: 0;
}
@media (max-width: 768px) {
	.two-columns .column {
		width: 100%;
	}
}

.warning {
	background-image: url('/ayrel/tsahey.svg');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0 5px;
	font-weight: 700;
	padding-left: 22px;
}

.result-annotated {
	max-width: 500px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
	text-align: justify;
}

.result-annotated .purple {
	color: #8623dd;
}

.result-annotated a {
	text-decoration: underline;
}

.result-annotated a.source-link {
	color: #1e70bf;
	text-decoration: none;
}

.result-annotated a.source-link,
.result-annotated .small-capitals {
	font-variant: small-caps;
}

.credits-footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
}

.etymology-field,
.source-field {
	transition: background-color .2s !important;
}

.etymology-field.edit-succeeded,
.source-field.edit-succeeded {
	background-color: #bbface !important;
}

.stressed-cell {
	width: 200px;
}

/* infix details dialog */
#infix-details-input,
#infix-details-result {
	text-align: center;
	font-weight: 700;
	font-size: 125%;
}

#infix-details-input-translation,
#infix-details-result-translation {
	text-align: center;
	color: #888;
}

/* sentence analysis */
.beta-notice-block,
.error-block,
.warning-block,
.result-block {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 20px;
}
.beta-notice-block {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.error-block {
	background-color: #ffc4bb;
	border-left: 2px solid #9a2210;
}
.warning-block {
	background-color: #fcf2c3;
	border-left: 2px solid #f2bd10;
}
.result-block .header,
.error-block .header,
.warning-block .header {
	font-weight: 700;
}
.result-block .body,
.error-block .body,
.warning-block .body {
	margin-left: 20px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
	}

	body,
	.word-link,
	.word-link::before,
	.result a,
	.ui.form .field > label,
	.ui.label,
	.ui.search > .results .result .title,
	.ui.selection.dropdown:hover,
	.ui.selection.dropdown:focus,
	.ui.selection.visible.dropdown > .text:not(.default),
	.ui.modal .header,
	.ui.modal .content,
	.ui.checkbox label,
	.ui.checkbox + label,
	.ui.checkbox label:hover,
	.ui.checkbox + label:hover,
	.ui.checkbox input:focus ~ label,
	.ui.horizontal.divider,
	.ui.vertical.divider,
	.ui.tabular.menu .item,
	.ui.tabular.menu .item:hover,
	.ui.tabular.menu .active.item {
		color: #eee;
	}

	.ui.basic.button,
	.ui.basic.buttons .button {
		color: #eee !important;
	}

	.ui.basic.button:hover,
	.ui.basic.button.active,
	.ui.basic.buttons .button:hover,
	.ui.basic.buttons .button.active {
		color: #eee !important;
		background-color: #333 !important;
	}

	.ui.search > .results .result .description {
		color: #999;
	}

	.ui.search > .results .result:hover {
		background-color: #222;
	}

	.ui.modal .header,
	.ui.modal .content {
		background-color: #111;
	}

	.ui.modal .actions,
	.ui.segment {
		background-color: #222;
	}

	h1 {
		border-bottom-color: #555;
	}

	h1 .logo {
		background-image: url('/ayrel/reykunyu-dark.svg');
	}

	.ui.tabular.menu .active.item {
		background-color: black;
	}

	.ui.tabular.menu,
	.ui.tabular.menu .active.item {
		border-color: #555;
	}

	#tab-mode-bar .gray {
		color: #888;
	}
	#tab-mode-bar .item .result-count-tag {
		background-color: #eee;
		color: black;
	}
	#tab-mode-bar .item.gray .result-count-tag {
		background-color: #666;
	}

	.result .result-word {
		background-color: black;
		box-shadow: 0 0 7px 7px black;
	}

	.result .result-word .id {
		color: #666;
	}

	table tr {
		border-top: 1px solid #555;
	}

	.result .result-item.status-note {
		background-color: #493c00;
	}

	.ui.input, .ui.input input,
	.ui.selection.dropdown {
		background-color: #000;
		border-color: #555;
		color: #eee;
	}

	.ui.input input:focus {
		background-color: #000;
		color: #eee;
	}

	.ui.search .action:hover {
		background-color: #000;
	}

	.ui.tag.labels .label::after, .ui.tag.label::after {
		background-color: #000 !important;
	}

	.ui.basic.button,
	.edit-button.ui.basic.button {
		color: #eee !important;
	}

	.ui.pointing.menu {
		background-color: #222;
		border: 1px solid #666;
	}

	.ui.pointing.menu .item {
		color: #eee;
	}

	.ui.pointing.menu .item:hover {
		background-color: #333;
		color: #eee;
	}

	.ui.menu .item::before {
		background-color: #666;
	}

	.ui.pointing.menu .active.item {
		background: #444;
	}

	.ui.pointing.menu .active.item::after {
		background: #444;
		border-bottom: 1px solid #666;
		border-right: 1px solid #666;
	}

	.ui.pointing.menu .active.item:hover::after {
		background: #444;
	}

	.ui.label {
		background-color: #555;
	}

	.ui.search > .results {
		background-color: #000;
		border-color: #333;
	}

	.ui.selection.dropdown:hover {
		border-color: #777;
	}

	.beta-notice-block {
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
	}

	.error-block {
		background-color: #1a0906;
	}

	.warning-block {
		background-color: #1a1606;
	}

	.word-link:before {
		text-decoration: underline black;
	}

	.word-list-toc {
		background-color: black;
		box-shadow: 0 0 4px 4px black;
	}

	.word-list .letter-block {
		column-rule: 1px solid #555;
	}

	.word-list .status-badge.loan,
	.word-list .status-badge.unconfirmed,
	.word-list .status-badge.unofficial {
		background-color: #493c00;
	}

	.word-list.explanation .arrow {
		filter: invert();
	}
}
