<div id="language-dropdown" class="ui icon right floated top right pointing dropdown basic button">
	<i class="globe icon"></i>
	<span class="text"><%- _('language') %></span>
	&nbsp;<i class="dropdown icon"></i>
	<div class="menu">
		<div class="item" data-value="da">Dansk</div>
		<div class="item" data-value="de">Deutsch</div>
		<div class="item" data-value="en">English</div>
		<div class="item" data-value="fr">Français</div>
		<div class="item" data-value="nl">Nederlands</div>
		<div class="item" data-value="pl">Polski</div>
		<% if (locals['user'] && locals['user']['is_admin']) { %>
			<div class="divider"></div>
			<div class="header">Hidden</div>
			<div class="item" data-value="et">Eesti</div>
			<div class="item" data-value="it">Italiano</div>
			<div class="item" data-value="hu">Magyar</div>
			<div class="item" data-value="ru">Русский</div>
			<div class="item" data-value="sv">Svenska</div>
			<div class="item" data-value="x-navi">Na’vi</div>
		<% } %>
	</div>
</div>
