<!doctype html>

<html>
	<%- include('head.ejs') %>
	<body>
		<div class="container">
			<%- include('header.ejs') %>

			<div class="error">
				<p class="error-text"><%- _('offline-unavailable') %></p>
				<p class="error-subText"><%- _('offline-unavailable-text') %></p>
				<img class="error-icon" src="/images/ke'u.svg">
			</div>
		</div>

		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/vendor/semantic/dist/semantic.js"></script>
		<script src="/js/ui-translations.js"></script>
	</body>
</html>

