<div id="omaticon-modal" class="ui modal">
	<div class="header"><%- _("what-is-your-team") %></div>
	<div class="scrolling content">
		<div class="ui two stackable cards">
			<a class="ui card" id="fang-button">
				<div class="image">
					<img src="/images/fang.svg">
				</div>
				<div class="content">
					Fang
				</div>
			</a>
			<a class="ui card" id="spirit-button">
				<div class="image">
					<img src="/images/spirit.svg">
				</div>
				<div class="content">
					Spirit
				</div>
			</a>
			<a class="ui card" id="pulse-button">
				<div class="image">
					<img src="/images/pulse.svg">
				</div>
				<div class="content">
					Pulse
				</div>
			</a>
			<a class="ui card" id="thorn-button">
				<div class="image">
					<img src="/images/thorn.svg">
				</div>
				<div class="content">
					Thorn
				</div>
			</a>
		</div>
		<p class="muted"><br>(<a href="https://kelutral.org/omaticon">What's this?</a>)</p>
	</div>
	<div class="actions">
		<div class="ui basic deny button">
			<i class="close icon"></i> <%- _("dialog-cancel") %>
		</div>
	</div>
</form>
