<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Study</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/study.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div id="lesson-information">
				<div class="lesson-number"><%- _('lesson') %> <%= lesson['id'] + 1 %></div>
				<div class="lesson-name"><%= lesson['name'] %></div>
			</div>
		</header>
		<div id="progress-bar">
			<div class="filled-part"></div>
		</div>
		<div id="main-container" class="container">
			<!--<div id="buttons-card" class="semicard">
				<button class="button primary-button" id="next-button">Learned &rarr;</button>
				<button class="button secondary-button" id="known-button" data-text="Click this button if you already know this word. Reykunyu will still review the word once. If you get it right, Reykunyu will not bother you with it again.">Already known &rarr;</button>
				<button class="button secondary-button" id="exit-button" data-text="This button exits your learning session. Your progress so far will still be saved.">Exit session &rarr;</button>
			</div>-->
		</div>
		<div id="dialog-layer" style="display: none;">
			<div id="lesson-done-dialog" class="dialog" style="display: none;">
				<div class="dialog-header">
					Congratulations, you finished Lesson <%= lesson['id'] + 1 %>!
				</div>
				<div class="dialog-body">
					<div id="learned-words"></div>
					The words have been added to your review queue. Click the button below to get an overview of the words you learned, or to start your reviews right away!
				</div>
				<div class="dialog-buttons">
					<a class="button primary-button" id="to-review-button">Review &rarr;</a>
					<a class="button secondary-button" id="to-overview-button">Overview &rarr;</a>
				</div>
			</div>
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.js"></script>
		<script src="/js/ui-translations.js"></script>
		<script src="/js/study.js"></script>
	</body>
</html>

